body {
  font-size: 16px;
  background-color: #88afe8;	
}

/**Header **/
#header-nav {
	background-color: #e0f9c1;
	border-radius: 0;
	border: 0;
}

.navbar-toggle {
	margin-top: 20px;
	
}
.container {
	margin-left: 0;
	margin-right: 0;
}

#borcol {
	border-color: blue;
}

#line {
	background-color: blue;
}

.navbar-brand {
	margin: 15px 0 15px auto;
}

.navbar-brand h1 { /* Restaurant name */
  color: blue;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;

}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	font-size: 1.5em;
	font-weight: bold;
	color: blue;
	text-align: center;	
}
#nav-list a:hover {
	background: #c6c1c1;
}
#nav-list a span {
	font-size: 1.8em;
}
#lorem {
	
	
	color: black;
	background-color: lightgray;
	padding: 5px 15px 5px 15px;
	margin: 20px 15px 20px 15px;

}

#menu {
	color: #6898484;
	margin-bottom: 15px;
	margin-top: 30px;
	font-size: 2em;
}

/*.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}*/
